:root {
    --textSpacing: 0.5em;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 5rem;
}

section div hr {
    width: 100%
}

.postCardContainer {
    width: 25em;
    height: fit-content;
    border: 0.5em solid rgb(160, 142, 142);
    margin: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(73, 80, 86);
}



.songTitle {
    font-size: 2em;
    margin: 0.2em auto;
    color: #F9F6EE     
}

.artistName {
    font-size: 1.25em;
    margin: var(--textSpacing) auto;   
    color: #F9F6EE;
}

.username {
    margin: var(--textSpacing) auto;    
    font-style: italic;
    color: #F9F6EE;
}

.postContent {
    margin: var(--textSpacing) auto;
    padding: var(--textSpacing);
    border: 0.1em solid rgb(191, 180, 180);    
    text-align: left;
    color: #F9F6EE;
}

.btnWrap {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2em;
}

#clearPosts {
    border-radius: 20em;
    background-color: rgb(241, 157, 157);
    transition-duration: 0.4s;
}

#clearPosts:hover {
    cursor: pointer;
    background-color: rgb(242, 112, 112);
}